# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# User-specific xcworkspace settings
xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# IDE
*.idea/
